[{:itonami.blueprint/social-impact [:rail-workforce-support :transit-safety-compliance :logistics-efficiency], :itonami.blueprint/domain :transport/locomotive-crew-scheduling, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "8311", :itonami.blueprint/name "Locomotive Crew Scheduling & Maintenance Coordination Service", :itonami.blueprint/governor :rail-crew-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-8311", :itonami.blueprint/license "AGPL-3.0-or-later"}]
